Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Split txValidityRange into txValidityLowerBound and txValidityLowerBound
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New Cardano.Api.Ledger.Lens module:
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ShelleyEraOnly.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
Owners: none

Simplify fromLedgerTxValidityRange
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Simplify with lenses
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Set invalidBefore and invalidHereAfter separately on txbody
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Treat shelley the same as other shelley based eras for validity upper bounds
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Add Show instance for FoldBlocksError
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: none

Add costmodels to Alonzo parameters update
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Delete ProtocolUTxOCostPerByteFeature
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Fix imports of renamed modules
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: none

Update ledger and consensus versions for 8.6 (SRP)
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Adapt to new type `HKDNoUpdate f ProtVer` of `cppProtocolVersion`
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: none

Adapt `createEraBasedProtocolParamUpdate` to >=8 constraint
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Adapt `toLedgerPParamsUpdate` to >=8 constraint in `ppuProtocolVersionL`
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Improve costModel generation and thus fix failing test
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
Owners: none

Replace `queryCommitteState` with new `queryCommitteeMembersState`
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Adapt to new anchor parameter in `ConwayResignCommitteeColdKey`
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Adapt `fromLedgerPParamsUpdate` to >=8 constraint in ppuProtocolVersionL
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Adjust to type change of `proposalProceduresTxBodyL`
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Export types needed for querying the committee state
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New Cardano.Api.Ledger.Lens module and invalidBeforeL and invalidHereAfterL functions
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
Owners: none

Delete ProtocolUTxOCostPerWordFeature and all related code
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete ShelleyToAlonzoPParams and createDeprecatedAfterAlonzoPParams
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Rename ShelleyToAlonzoPParams' to ShelleyToAlonzoPParams
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Rename createDeprecatedAfterAlonzoPParams' to -createDeprecatedAfterAlonzoPParams
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Update to latest ledger and consensus
  cabal.project
Owners: @Jimbo4350, @newhoggy, @carbolymer

Expose PlutusScriptV3
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Add support for simple scripts in Conway
  cardano-api/internal/Cardano/Api/Script.hs
Owners: none

Adapt to new type `HKDNoUpdate f ProtVer` of `cppProtocolVersion`
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: none

Update ledger and consensus versions for 8.6
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Fix imports of renamed modules
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: none

Replace `queryCommitteState` with new `queryCommitteeMembersState`
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Adapt `createEraBasedProtocolParamUpdate` to >=8 constraint
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Adapt `fromLedgerPParamsUpdate` to >=8 constraint in ppuProtocolVersionL
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Adapt to new anchor parameter in `ConwayResignCommitteeColdKey`
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Improve costModel generation and thus fix failing test
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
Owners: none

Adapt `toLedgerPParamsUpdate` to >=8 constraint in `ppuProtocolVersionL`
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Remove `invalidBeforeL` and `invalidHereAfterL` defined in ledger
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
Owners: none

Account for change of type of `GetCommitteeMembersState`
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

Adjust to type change of `proposalProceduresTxBodyL`
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
