Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release

Export types needed for querying the committee state
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New version cardano-api-8.29.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Update ledger and consensus versions for 8.6
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Fix imports of renamed modules
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: none

Adapt to new type `HKDNoUpdate f ProtVer` of `cppProtocolVersion`
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: none

Adapt `createEraBasedProtocolParamUpdate` to >=8 constraint
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Adapt `toLedgerPParamsUpdate` to >=8 constraint in `ppuProtocolVersionL`
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Adapt `fromLedgerPParamsUpdate` to >=8 constraint in ppuProtocolVersionL
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Adapt to new anchor parameter in `ConwayResignCommitteeColdKey`
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Improve costModel generation and thus fix failing test
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
Owners: none

Replace `queryCommitteState` with new `queryCommitteeMembersState`
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Account for change of type of `GetCommitteeMembersState`
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

Adjust to type change of `proposalProceduresTxBodyL`
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Export types needed for querying the committee state
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Remove `invalidBeforeL` and `invalidHereAfterL` defined in ledger
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
Owners: none

Update CABAL_CACHE_VERSION
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New version cardano-api-8.29.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Clarify some instructions in RELEASING.md
  RELEASING.md
Owners: none

Add ByronEraOnly argument to ByronTx and ByronTxBody constructor
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Simplify with lenses
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New modifyWith function
  cardano-api/internal/Cardano/Api/Utils.hs
Owners: none

New setTxBodyFields binding
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Use setTxBodyFields more
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Set update proposal in common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Set update proposal in common area
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Introduce do block
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move sData to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move setMint to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move setting of invalidBefore to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New getScriptIntegrityHash function
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move setScriptIntegrityHash to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Add missing constraints
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
Owners: none

Move setCollateralInputs to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move setReqSignerHashes to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move setReferenceInputs to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move setCollateralReturn to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Inline setTxBodyFields
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Move setTotalCollateral to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Remove redundant case
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Remove unnecessary forall
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none
