Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New Cardano.Api.Query.Expr module
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/IPC/Monad.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Remove use of queryNodeLocalState
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

New version cardano-api-8.3.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

nix: add developper tools, cross platform and alternative GHC support
  flake.lock
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Add .cardano-dev.yaml file
  .cardano-dev.yaml
Owners: none

Simplify Haskell CI in GHA
  .github/workflows/github-page.yml
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Simplify queryStateForBalancedTx to not take socket path and network id
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

Revert to use testProperty now that it isn't deprecated anymore
  cardano-api/test/cardano-api-golden/Test/Golden/Cardano/Api/Ledger.hs
  cardano-api/test/cardano-api-golden/Test/Golden/Cardano/Api/Typed/Script.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Json.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/KeysByron.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Ledger.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Metadata.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Address.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Bech32.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/CBOR.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Envelope.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/JSON.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Ord.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/RawBytes.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/TxBody.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Value.hs
Owners: none

Switch to use executeLocalStateQueryExpr
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

Merge queries in queryStateForBalancedTx to a single connection
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

Prefer use of onLeft
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

Move the invocation of executeLocalStateQueryExpr outside of queryStateForBalancedTx
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

Prefer onLeft and onNothing
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

New version cardano-api-8.4.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Additional query expression functions
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Fix warnings
  .github/workflows/check-hlint.yml
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New version 8.5.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Release workflow
  RELEASE.md
  RELEASING.md
Owners: none

Release workflow - review remarks
  RELEASING.md
Owners: none

Update release description after moving scripts to cardano-dev
  RELEASING.md
Owners: none

New queryEpoch function
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New requireShelleyBasedEra function
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete getSbe function. Use requireShelleyBasedEra function instead
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
Owners: none

New version cardano-api-8.5.1.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

New version cardano-api-8.5.2.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

More review remarks
  RELEASING.md
Owners: none

Simplify next version bumping
  RELEASING.md
Owners: none

Add description how to find previous tag hash.
  RELEASING.md
Owners: none

Enable CI in PRs from forks
  .github/workflows/check-cabal-files.yml
  .github/workflows/check-git-dependencies.yml
  .github/workflows/check-hlint.yml
  .github/workflows/check-stylish-haskell.yml
  .github/workflows/haskell.yml
  .github/workflows/markdown-links-ci-check.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Remove integration tests from pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Remove aarch64-linux and aarch64-darwin to fix eval
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Workaround for --override-input CHaP
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Convert TxScriptValiditySupportedInEra to TxScriptValidityFeature using new Feature API.
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Generate protocolUpdateUTxOCostPerByte only if it is supported in era.
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New ProtocolUpdateUTxOCostPerWordSupportedInEra type
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Typesafe protocol paramters
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/EraCast.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Convert UpdateProposalFeatureSupportedInEra to UpdateProposalFeature using new Feature API.
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Convert TxScriptValiditySupportedInEra to TxScriptValidityFeature using new Feature API.
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Convert AdaOnlyFeatureSupportedInEra to OnlyFeature using new Feature API. Convert MultiAsseteFeatureSupportedInEra to MultiAssetFeature using new Feature API.
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/TxBody.hs
Owners: none

Update CHaP index
  cabal.project
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
