Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Support more constraints for Conway witnesses
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
Owners: none

New types AnyConwayEraOnwards and AnyShelleyToBabbageEra
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Update DRepKey with correct `Voting` keyrole
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Expose DRep
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: none

Revert to earlier version of Cardano.Api.IO.Compat.Posix
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
Owners: none

Test writeLazyByteStringFileWithOwnerPermissions
  cardano-api/cardano-api.cabal
  cardano-api/test/cardano-api-test/Test/Cardano/Api/IO.hs
  cardano-api/test/cardano-api-test/cardano-api-test.hs
Owners: none

Test writeLazyByteStringFileWithOwnerPermissions
  cardano-api/cardano-api.cabal
  cardano-api/test/cardano-api-test/Test/Cardano/Api/IO.hs
  cardano-api/test/cardano-api-test/cardano-api-test.hs
Owners: none

handleFileForWritingWithOwnerPermissionImpl: Fix permisions
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
Owners: none

Update version for release to CHaP
  cardano-api/cardano-api.cabal
Owners: none

Test writeLazyByteStringFileWithOwnerPermissions
  cardano-api/cardano-api.cabal
  cardano-api/test/cardano-api-test/Test/Cardano/Api/IO.hs
  cardano-api/test/cardano-api-test/cardano-api-test.hs
Owners: none

handleFileForWritingWithOwnerPermissionImpl: Fix permisions
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
Owners: none

Version 8.8.1.2
  cardano-api/cardano-api.cabal
Owners: none

Update changelogs for cardano-api-8.10.1.0
  cardano-api/CHANGELOG.md
Owners: none

Provide additional constraints in shelleyBasedEraConstraints
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyBasedEra.hs
Owners: none

Split Cardano.Api.Eras into Cardano.Api.Eras.Core and Cardano.Api.Eras.Constraints. This allows more constraints to be added without creating cycling dependencies
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

More constraints for the standard features ShelleyBasedEra, ShelleyToBabbageEra and BabbageEraOnwards.
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Modes.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Utils.hs
Owners: none

Remove unnecessary function
  cardano-api/internal/Cardano/Api/Fees.hs
Owners: none

Expose shelleyCertificateConstraints and conwayCertificateConstraints
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Expose shelleyCertificateConstraints and conwayCertificateConstraints
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New version cardano-api-8.10.2.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Add constraints to Proposal and Vote types, Add test generators for them
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

Deprecate TxGovernanceActionSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Remove ghc-9.2.x in CI for Mac
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Add SerialiseAsBech32 instances for committee cold and hot keys
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Remove CommitteeKey
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Deprecate some constraint functions
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Utils.hs
Owners: none

Add `gh`, `jq` and `yq-go`
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Deprecate TxVotesSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Deprecate shelleyCertificateConstraints and conwayCertificateConstraints
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
Owners: none

More shelleyBasedEraConstraint constraints
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: none

Any
  cardano-api/internal/Cardano/Api/Convenience/Constraints.hs
  cardano-api/internal/Cardano/Api/EraCast.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Any.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Script.hs
Owners: none

New Is and Any
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Is instances for CardanoEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Convenience/Constraints.hs
  cardano-api/internal/Cardano/Api/EraCast.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

stuff
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/CBOR.hs
Owners: none

Add parent feature constraints. New IsShelleyToBabbageEra and ConwayEraOnwards type classes
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New version cardano-api-8.11.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Add `SerialiseAsBech32 (Hash CommitteeHotKey)` instance
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Update the code to UTxO-HD
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Update ci workflow for UTxO-HD
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.ci.Linux
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New inEraFeature and inShelleyBasedEraFeature functions
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
