Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Rename inShelleyBasedEraEonMaybe to forShelleyBasedEraInEonMaybe
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New inEonForShelleyBasedEraMaybe function
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New inEonForEraMaybe function
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete AuxScriptsSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New caseShelleyEraOnlyOrAllegraEraOnwards function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Simplify definition of auxData
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New caseAlonzoOnlyOrBabbageEraOnwards and alonzoEraOnlyToAlonzoEraOnwards functions
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

conway drep registration: expose ledger anchor parameter
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

PR template: remove that changelog extension is requested twice
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New version cardano-api-8.23.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Bump CHaP, allow newer Plutus/Ledger/Consensus
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

input-output-hk/cardano-cli#288 Add support for conway era protocol parameters
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Integrate Consensus changes
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
Owners: none

Undo vertical formatting
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: none

Parameterize `AnyEraInEon`. Add `AnyEon`
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Parameterize `AnyEraInEon`. Add `AnyEon`
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New version cardano-api-8.23.1.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

Release 8.24.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Rename AnyEraInEon to EraInEon
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete AnyEon
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Amend https://github.com/input-output-hk/cardano-api/pull/284 to use ReexposeLedger
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: none

Fix CHaP failure due to haddock
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

Add witness committee cold key
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Tx.hs
Owners: none

Require Conway onwards for voting
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

Release 8.23.2.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Add witness committee cold key
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Tx.hs
Owners: none

New version cardano-api-8.25.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Haddock fix for 8.25.0.0
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

Update Core.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

Update Core.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

Update Core.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

Work around Haddock bug
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

New version cardano-api-8.25.0.1
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Rely on eons over constraints
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
Owners: none

Delete withShelleyBasedEraConstraintsForLedger. Use shelleyBasedEraConstraints instead
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Add support for committee hot key witnesses
  cardano-api/internal/Cardano/Api/Tx.hs
Owners: none

New version cardano-api-8.25.2.0
  cardano-api/CHANGELOG.md
Owners: none

New version cardano-api-8.25.2.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Add BabbageEraOnly
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnly.hs
Owners: none

Add certs to txbody of Conway transactions
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
