Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release

Fix stylish-haskell workflow
  .github/workflows/check-stylish-haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Workaround for --override-input CHaP
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

flake: expose project
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Update to work with latest ledger versions in CHaP
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

remove cicero actions
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

update flake.lock
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Add PR changelog check
  .github/workflows/check-pr-changelog.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

flake: expose project
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Workaround for --override-input CHaP
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New withShelleyBasedEraConstraintsForLedger replacing a number of locally defined functions for introducing ledger constraints for shelley based era.
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New withShelleyBasedEraConstraintForConsensus
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Modes.hs
Owners: none

TxCert crypto -> TxCert era
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

UTxO-HD
  cabal.project
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Update concennsus git tag
  cabal.project
Owners: @Jimbo4350, @newhoggy, @carbolymer

WIP
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Fix Api.Certificate compilation errors
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Make it build with ghc-9.6
  cabal.project
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Script.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Make cardano-api compile
  cabal.project
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

New types and functions for committee keys and certificates:
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Add contributing guide
  CONTRIBUTING.md
  README.md
Owners: @input-output-hk/docs-access

New types and functions for committee keys and certificates:
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New modules, types and functions for dreps:
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/DRepMetadata.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Unstructured metadata for DReps
  cardano-api/internal/Cardano/Api/DRepMetadata.hs
Owners: none

Use deregistration for consistency
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Add ProposalProcedure and VotingProcedure modules
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Propagate TxGovernanceAction throughout the rest of cardano-api
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Add txVotes and txGovernanceActions fields to TxBodyContent
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Moved constraint solving helper to Cardano.Api.Utils
  cardano-api/internal/Cardano/Api/Utils.hs
Owners: none

Expose TxVotes and TxGovernanceActions via Cardano.Api and Cardano.Api.Shelley
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Propagate votes and governance actions to test generators
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
Owners: none

Updated makeShelleyTransactionBody with votes and governance actions
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Make it build with ghc-9.6
  cabal.project
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Script.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Fix Api.Certificate compilation errors
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

WIP
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Make cardano-api compile
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Add GHC 9.6.2 in GHA
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Add GHC 9.6 SRPs
  cabal.project
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Rebase fixes
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Add injectivity annotation to ShelleyLedgerEra type family
  cardano-api/internal/Cardano/Api/Eras.hs
Owners: none

Remove merge_group in changelog checks
  .github/workflows/check-pr-changelog.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release
