Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Fix typo Constitional -> Constitutional
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

New version cardano-api-8.11.1.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Add Cardano.Api.Credentials Implement genDRepCredentialAndKeyHash
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Credentials.hs
Owners: none

Fix committee hot keys
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Temporary fix for EraCast Certificate Caveat: We currently cannot cast to other eras
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Remove IsCardanoEra fromEra constraint from EraCast class
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/EraCast.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Make changelog options configurable
  .cardano-dev.yaml
  .github/workflows/check-pr-changelog.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Update PR template for single changelog option
  .cardano-dev.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/check-pr-changelog.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Re-export StrictMaybe
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: none

Fix EraCast Certificate for the case where era does not cross into Conway or back
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Fix EraCast Certificate for crossing into Conway
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Fix EraCast Certificate for crossing out of Conway
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Simplify code with new constraints functions
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Longer variable names in EraCast Certificate code
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

cardano-api 8.12.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
  cardano-dev.yaml
Owners: none

New version cardano-api-8.12.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
  cardano-dev.yaml
Owners: none

Tighten era bounds to ConwaryEraOnwards
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Tighten era bounds of conway specific API to ConwayEraOnwards
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

Update index states
  cabal.project
Owners: @Jimbo4350, @newhoggy, @carbolymer

Add release and feature PR types
  .cardano-dev.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @input-output-hk/docs-access

Modify Feature data type
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Modify queryGenesisParameters so that its type advertises it only returns genesis parameters for the shelley era
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

Add era type parameter to ProtocolParameters and GenesisParameters
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Typesafe protocol paramters
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

New Era support: bundling and casting
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Replace queryGenesisParameters with queryShelleyGenesisParameters
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

cardano-api 8.13.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Introduce EraBasedProtocolParametersUpdate
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Rename ExecutionUnitPrices to LegacyExecutionUnitPrices
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Fix build
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Delete deprecated functions and types
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Release cardano-api 8.13.1.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

New ToCardanoEra typeclass
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New AlonzoEraOnwards feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Fine grain imports to improve build parallelism
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Constraints.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/DRepMetadata.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Poll.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/ScriptData.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/StakePoolMetadata.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/TxMetadata.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New ShelleyToAlonzoEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAlonzoEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Remove unused language pragmas
  cardano-api/internal/Cardano/Api/Eras.hs
Owners: none

New InAnyEra type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Eras/InAnyEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyToMaryEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToMaryEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Move CostModel to own module
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Domain/CostModel.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
