Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @kevinhammond, @disassembler, @input-output-hk/docs-access, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech

Update ledger and consensus versions for 8.6
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release

Fix imports of renamed modules
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Adapt to new type `HKDNoUpdate f ProtVer` of `cppProtocolVersion`
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Adapt `createEraBasedProtocolParamUpdate` to >=8 constraint
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Adapt `toLedgerPParamsUpdate` to >=8 constraint in `ppuProtocolVersionL`
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Adapt `fromLedgerPParamsUpdate` to >=8 constraint in ppuProtocolVersionL
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Adapt to new anchor parameter in `ConwayResignCommitteeColdKey`
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Improve costModel generation and thus fix failing test
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Replace `queryCommitteState` with new `queryCommitteeMembersState`
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Account for change of type of `GetCommitteeMembersState`
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Adjust to type change of `proposalProceduresTxBodyL`
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Export types needed for querying the committee state
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Remove `invalidBeforeL` and `invalidHereAfterL` defined in ledger
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Update CABAL_CACHE_VERSION
  .github/workflows/haskell.yml
Owners: @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech

New version cardano-api-8.29.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Clarify some instructions in RELEASING.md
  RELEASING.md
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Add ByronEraOnly argument to ByronTx and ByronTxBody constructor
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Simplify with lenses
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New modifyWith function
  cardano-api/internal/Cardano/Api/Utils.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New setTxBodyFields binding
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Use setTxBodyFields more
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Set update proposal in common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Set update proposal in common area
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Introduce do block
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move sData to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setMint to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setting of invalidBefore to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New getScriptIntegrityHash function
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setScriptIntegrityHash to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Add missing constraints
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setCollateralInputs to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setReqSignerHashes to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setReferenceInputs to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setCollateralReturn to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Inline setTxBodyFields
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move setTotalCollateral to common area
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Remove redundant case
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Remove unnecessary forall
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Inline mkTxBody
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Make Byron constructors and functions propagate ByronEraOnly eon
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer

# General reviewers per PR
#                        Jordan     John      Mateusz     Kevin         Sam
*                        @Jimbo4350 @newhoggy @carbolymer @kevinhammond @disassembler

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
.github/workflows                                             @input-output-hk/core-tech-devx @input-output-hk/core-tech-release @input-output-hk/core-tech
configuration/                                                @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
