Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @kevinhammond, @disassembler, @input-output-hk/docs-access, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer

# General reviewers per PR
#                        Jordan     John      Mateusz     Kevin         Sam
*                        @Jimbo4350 @newhoggy @carbolymer @kevinhammond @disassembler

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
.github/workflows                                             @input-output-hk/core-tech-devx @input-output-hk/core-tech-release @input-output-hk/core-tech
configuration/                                                @input-output-hk/core-tech-devx @input-output-hk/core-tech-release

New functions disjointAlonzoEraOnlyAndBabbageEraOnwards and disjointByronEraOnlyAndShelleyBasedEra. Deprecate noByronEraInShelleyBasedEra
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Haddock document the case functions, so that their behavior is easier to understand when calling them
  cardano-api/internal/Cardano/Api/Eras/Case.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Expose ShelleyToBabbageEraConstraints
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New Mandatory type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras/HasComplement.hs
  cardano-api/internal/Cardano/Api/Eras/Mandatory.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Open union encoding of Eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Comment out non-working code
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
  cardano-api/internal/Cardano/Api/Eon/Core3.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Open union encoding of Eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Support DRep extended keys
  cardano-api/internal/Cardano/Api/DeserialiseAnyOf.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

stuff
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Bump cabal cache
  .github/workflows/haskell.yml
Owners: @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech

Parameterize GovernanceAction on era and use Ledger.PParamsUpdate type in UpdatePParams constructor
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Bump cabal cache
  .github/workflows/haskell.yml
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech, @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move ShelleyBasedEraConstraints and shelleyBasedEraConstraints to ShelleyBasedEra module
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Move CardanoEraConstraints and cardanoraConstraints to Core module
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New functions anyShelleyBasedEra, inAnyCardanoEra and inAnyShelleyBasedEra
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Use ShelleyBasedEra instead of IsShelleyBasedEra. Use CardanoEra instead of IsCardanoEra.
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/test/cardano-api-golden/Test/Golden/ErrorsSpec.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/CBOR.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Ord.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New version cardano-api-8.26.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Add missing clause to support Plutus V1 in Conway
  cardano-api/internal/Cardano/Api/Script.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Reorder some lines to fit the general scheme
  cardano-api/internal/Cardano/Api/Script.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New version cardadno-api-8.27.0.0
  cardano-api/CHANGELOG.md
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete unnecessary calls to shelleyBasedEraConstraints
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New version cardadno-api-8.27.0.0
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Shorten PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New shelleyToAlonzoEraToShelleyToBabbageEra function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete AlonzoEraOnly
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Export caseMaryEraOnlyOrAlonzoEraOnwards.
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New version cardano-api-8.28.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Update the code to UTxO-HD
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.ci.Linux
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Query.hs
  flake.lock
Owners: @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech, @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

DRep extended key: add CastVerificationKeyRole
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Upgrade typed-protocols to 1.1.1
  .github/workflows/haskell.yml
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech, @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New allegraEraOnwardsToByronAndAllegraOnwardsEra function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Split txValidityRange into txValidityLowerBound and txValidityLowerBound
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New Cardano.Api.Ledger.Lens module:
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ShelleyEraOnly.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler
