Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @kevinhammond, @disassembler, @input-output-hk/docs-access, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech

Release 8.36.1.1
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Fix generated textEnvelope on registering StakeAddress RegistrationCertificate
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

WIP
  cabal.project
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete Cardano.Api.LedgerEvent with the aim of splitting it into several more easily digestible modules
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Introduce SomeProtocolVersion definition
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Pre refactor
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Example refactored
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Example of how GHC will complain when we update the return type of SomeProtocolVersion's constructors Try modifying CurrentProtocolVersion BabbageEra to CurrentProtocolVersion ConwayEra
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Be more explicit in types
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Implement UseProtocolVersion class and demonstate an alternative class interface that could be expose side by side
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

chap: migrate to chap.intersectmbo.org
  RELEASING.md
  cabal.project
  flake.nix
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release

Add trailing slash
  cabal.project
  flake.nix
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release

update GH pages links in markdown
  README.md
  cardano-api/CHANGELOG.md
  cardano-api/internal/Cardano/Api/Query.hs
Owners: @input-output-hk/docs-access, @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer

# General reviewers per PR
#                        Jordan     John      Mateusz     Kevin         Sam
*                        @Jimbo4350 @newhoggy @carbolymer @kevinhammond @disassembler

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
.github/workflows                                             @input-output-hk/core-tech-devx @input-output-hk/core-tech-release @input-output-hk/core-tech
configuration/                                                @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
