Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @kevinhammond, @disassembler, @input-output-hk/docs-access, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech

Use injective type families to improve type inference
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New functions emptyVotingProcedures, singletonVotingProcedures and mergeVotingProcedures
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete TxVotes and use VotingProcedures instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete VotingEntry
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingEntry.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete TxVotes and use VotingProcedures instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete VotingEntry
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingEntry.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Fix stylish error on deleted files
  .github/workflows/check-stylish-haskell.yml
Owners: @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release, @input-output-hk/core-tech

New functions emptyVotingProcedures, singletonVotingProcedures and unsafeMergeVotingProcedures
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete VotingEntry
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingEntry.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Rename txVotes in TxBodyContents to txVotingProcedures to match ledger
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete TxVotes and use VotingProcedures instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New Mandatory type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras/HasComplement.hs
  cardano-api/internal/Cardano/Api/Eras/Mandatory.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Fix indent
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New version cardano-api-8.17.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Release 8.16.2.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Replace ProtocolParameters usage in GenesisParamters with ledger's PParams
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Remove ProtocolParameters from TxBodyContent
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Update QueryProtocolParameters to return ledger's PParams
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Use ledger's PParams in eligible leaderships slots related functions
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Remove BundledProtocolParameters
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Expose createLedgerProtocolParameters and convertToLedgerProtocolParameters Update calculateExecutionUnitsLovelace to accept Ledger.Prices
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Use newtype instead of GADT for LedgerProtocolParameters
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Remove LedgerPParams
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New shelleyBasedEraTestConstraints, shelleyToBabbageEraTestConstraints and conwayEraOnwardsTestConstraints function
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Era.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New era functions: inEraFeatureMaybe, inShelleyBasedEraFeatureMaybe, maybeFeatureInShelleyBasedEra
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Delete TxGovernanceActions
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Rename txGovernanceActions to txProposalProcedures
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Flake update CHaP
  flake.lock
Owners: @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release

Fix error when executing drep queries
  cardano-api/internal/Cardano/Api/Query.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Release 8.18.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Fix genesis parameters query
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New version cardano-api-8.17.1.0
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Fix genesis parameters query
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New version 8.16.3.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Fix type signature of queryGenesisParameters so that it can be queried in any era
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

New foldSomeAddressVerificationKey function
  cardano-api/internal/Cardano/Api/DeserialiseAnyOf.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

FeatureInEra instances for CardanoEra and ShelleyBasedEra
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Release 8.19.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

Updated to use newer packages
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/IPC.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Modes.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api.hs
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler, @input-output-hk/core-tech-devx, @input-output-hk/core-tech-release

TEST
  cabal.project
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer, @kevinhammond, @disassembler

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer

# General reviewers per PR
#                        Jordan     John      Mateusz     Kevin         Sam
*                        @Jimbo4350 @newhoggy @carbolymer @kevinhammond @disassembler

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
.github/workflows                                             @input-output-hk/core-tech-devx @input-output-hk/core-tech-release @input-output-hk/core-tech
configuration/                                                @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
