Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release

DO NOT MERGE Increase major version, because o-c-cardano-0.8.0.0
  cardano-api/cardano-api.cabal
Owners: none

TOSQUASH use Network type from ledger in TreasuryWithdrawal
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
Owners: none

Integrate with eclipse-evasion changes
  cardano-api/internal/Cardano/Api/IPC.hs
Owners: none

Bump CHaP to cardano-ledger-conway-1.7.0.0
  .github/workflows/haskell.yml
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

Update ledger certificate types
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Update GovernanceAction with ledger types and propagate these changes to the relevant functions
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
Owners: none

Update TxVotes to reflect changes in ledger types
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

Change query ConstitutionHash constructor to QueryConstitution QueryConstitution now returns the Constitution
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

Simplify ledger script types with pattern synonyms
  cardano-api/internal/Cardano/Api/Script.hs
Owners: none

Update getVotes with TxVotes
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Update key roles
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Update Cardano.Api.LedgerState with consensus types
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: none

Update Protocol m (CardanoBlock StandardCrypto) instance with CardanoProtocolParams StandardCrypto Implement Semigroup (Ledger.ConwayPParams StrictMaybe era) Update ScriptErrorMissingScript
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
Owners: none

Expose various types
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Release 8.15.0.0
  Setup.hs
  cardano-api-gen/CHANGELOG.md
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Update the code to UTxO-HD
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.ci.Linux
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

Update the code to UTxO-HD
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.ci.Linux
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

Update createAnchor to use hashAnchorData
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Update Cardano.Api.ReexposeLedger to expose more ledger types
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: none

RELEASING.md cosmetics change.
  RELEASING.md
Owners: none

Restore makeGoveranceActionId function
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

Add consensus governance queries
  .github/workflows/haskell.yml
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/src/Cardano/Api.hs
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Release 8.16.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Update the code to UTxO-HD
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.ci.Linux
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

Restore makeGoveranceActionId function
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New ToCardanoEra typeclass
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Fine grain imports to improve build parallelism
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Constraints.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/DRepMetadata.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Poll.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/ScriptData.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/StakePoolMetadata.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/TxMetadata.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New InAnyEra type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Eras/InAnyEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyToMaryEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToMaryEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New AlonzoEraOnwards feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyToAllegraEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAllegraEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New BabbageEraOnwards feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToMaryEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyToAlonzoEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAlonzoEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New Mandatory type and Complement type family
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras/Complement.hs
  cardano-api/internal/Cardano/Api/Eras/Mandatory.hs
Owners: none

FeatureInEra instances for CardanoEra and ShelleyBasedEra
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

New justFeatureInEra and justInEraFeature functions
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New AlonzoEraOnly feature
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnly.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Add VotingProcedures type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedures.hs
Owners: none

Add VotingProcedures type
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New version cardano-api-8.16.1.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none
