Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

CI: Add ghc-9.6.2 to build matrix
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Bump versions for uplaoding to CHaP
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
Owners: none

Release cardano-api 8.8.1.0, cardano-api-gen 8.1.1.0
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Rename CommitteeHotKeyDeregistrationCertificate to CommitteeHotKeyUnregistrationCertificate
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Follow ledger naming
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Add a HasTypeProxy constraint to getVerificationKey
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Keys/Class.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Envelope.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/RawBytes.hs
Owners: none

Bump versions for release to CHaP
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

wip
  cabal.project
Owners: @Jimbo4350, @newhoggy, @carbolymer

update CHaP/srp
  cabal.project
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Added FileDoesNotExistError constructor
  cardano-api/internal/Cardano/Api/IO.hs
  cardano-api/internal/Cardano/Api/SerialiseJSON.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
Owners: none

Update SRP to the latest
  cabal.project
Owners: @Jimbo4350, @newhoggy, @carbolymer

consensus/ledger: bump dependencies to versions in CHaP
  cabal.project
Owners: @Jimbo4350, @newhoggy, @carbolymer

Use MIN_VERSION_base instead of __GLASGOW_HASKELL__
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Keys/Class.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Envelope.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/RawBytes.hs
Owners: none

New version cardano-api-8.8.1.2
  cardano-api/cardano-api.cabal
Owners: none

Update to latest hedgehog-extras
  cardano-api/cardano-api.cabal
Owners: none

Introduce ConwayEraOnwards and AtMostBabbageEra GADTs in order to resolve cardano-ledger's certificate related type families to the correct type given an era.
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Simplify to/fromShelleyCertificate
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Update HasTextEnvelope (Certificate era) instance Add helper functions selectStakeCredential and filterUnRegCreds
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Update CastEra Certificate instance to handle casting certificates from Babbage to Conway
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Propagate new Cardano.Api.ReexposeLedger module exports in Cardano.Api.Certificate
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

Propagate changes throughout the rest of cardano-api
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Expose functions for error messages testing in golden tests
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Hedgehog/Golden/ErrorMessage.hs
  cardano-api/test/cardano-api-golden/Test/Golden/ErrorsSpec.hs
Owners: none

Follow ledger naming
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Rename AtMostBabbageEra to ShelleyToBabbageEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Downgrade plutus to 1.5
  cardano-api/cardano-api.cabal
Owners: none

Export StakeDelegationRequirements
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Expose more functionality from Cardano.Api.Shelley
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

remove bound on prettyprinter-configurable
  cardano-api/cardano-api.cabal
Owners: none

Ads standalone Eq deriving for CostModelApplyError
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Ads standalone Data deriving for CostModelApplyError
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

New version cardano-api-8.9.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

FeatureInEra instance for ShelleyBasedEra
  cardano-api/internal/Cardano/Api/Feature.hs
Owners: none

Fix HLint
  .github/workflows/check-hlint.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Expose more for conway integration
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Move ShelleyToBabbageEra and ConwayEraOnwards to their own module
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Move FeatureInEra to Cardano.Api.Eras module
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Improved feature ergonomics
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New shelleyToBabbageEraToCardanoEra and cardanoEraOnwardsToCardanoEra functions
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New version cardano-api-8.10.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Add missing changelog entry for cardano-api-gen
  cardano-api-gen/CHANGELOG.md
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
