Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release

CONTRIBUTING: link to cardano-cli file
  CONTRIBUTING.md
Owners: none

Restore the inclusion of datum hashes in Alonzo era tx bodies
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Release 8.36.1.1
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Fix generated textEnvelope on registering StakeAddress RegistrationCertificate
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

WIP
  cabal.project
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer

Delete Cardano.Api.LedgerEvent with the aim of splitting it into several more easily digestible modules
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
Owners: none

Introduce SomeProtocolVersion definition
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Pre refactor
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: none

Example refactored
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: none

Example of how GHC will complain when we update the return type of SomeProtocolVersion's constructors Try modifying CurrentProtocolVersion BabbageEra to CurrentProtocolVersion ConwayEra
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: none

Be more explicit in types
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: none

Implement UseProtocolVersion class and demonstate an alternative class interface that could be expose side by side
  cardano-api/internal/Cardano/Api/Protocol/Version.hs
Owners: none

chap: migrate to chap.intersectmbo.org
  RELEASING.md
  cabal.project
  flake.nix
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Add trailing slash
  cabal.project
  flake.nix
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

update GH pages links in markdown
  README.md
  cardano-api/CHANGELOG.md
  cardano-api/internal/Cardano/Api/Query.hs
Owners: @input-output-hk/docs-access
