Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Accommodate ouroboros-consensus API changes
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

ProtocolInfoArgs does not use 'm' type variable
  cardano-api/internal/Cardano/Api/Protocol.hs
Owners: none

Added SomeBlockType and reflBlockType
  cardano-api/internal/Cardano/Api/Protocol.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Added FileDoesNotExistError constructor
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/IO.hs
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
  cardano-api/internal/Cardano/Api/Keys/Read.hs
  cardano-api/internal/Cardano/Api/SerialiseJSON.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
Owners: none

Stylish
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/Keys/Read.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
Owners: none

Update ledger
  cardano-api/cardano-api.cabal
Owners: none

wip: changes for 1.5.0.0 ledger
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

wip: updates for constitution ledger query
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Work around cabal/haskel.nix issue with sublibs
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Apply suggestions from code review
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Accommodate ouroboros-consensus API changes
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
Owners: none

Added SomeBlockType and reflBlockType
  cardano-api/internal/Cardano/Api/Protocol.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

ProtocolInfoArgs does not use 'm' type variable
  cardano-api/internal/Cardano/Api/Protocol.hs
Owners: none

New version cardano-api-8.8.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Added FileDoesNotExistError constructor
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/IO.hs
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
  cardano-api/internal/Cardano/Api/Keys/Read.hs
  cardano-api/internal/Cardano/Api/SerialiseJSON.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
Owners: none

Stylish
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/Keys/Read.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
Owners: none

CHaP: bump to latest
  cabal.project
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

ouroboros-consensus: update to 0.9
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Accommodate ouroboros-consensus API changes
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

ProtocolInfoArgs does not use 'm' type variable
  cardano-api/internal/Cardano/Api/Protocol.hs
Owners: none

Added SomeBlockType and reflBlockType
  cardano-api/internal/Cardano/Api/Protocol.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Added FileDoesNotExistError constructor
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/IO.hs
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
  cardano-api/internal/Cardano/Api/Keys/Read.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
  cardano-api/internal/Cardano/Api/SerialiseJSON.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
Owners: none

cardano-ledger-conway: renames for 1.5.0.0
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

Query: add constitution hash ledger query
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Fix import errors
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
Owners: none

Fix Cardano.Api.Query type errors
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

Fix the name of crypt32 library in crypton-x509-system
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Parameterize VoteType on the era and include the respective voting credentials Remove voting credential parameter from createVotingProcedure
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
  cardano-api/internal/Cardano/Api/SerialiseJSON.hs
Owners: none

Export withShelleyBasedEraConstraintsForLedger
  cardano-api/src/Cardano/Api.hs
Owners: none

Fix changelog workflow failure when other PR paragraphs are removed
  .github/workflows/check-pr-changelog.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Wire up remaining governance actions
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
Owners: none

Fix PR changelog template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Rename era to sbe where the type is ShelleyBasedEra
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Add upper bounds to cardano dependencies
  cabal.project
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer

For stylish-haskell, skip files that contain CPP
  .github/workflows/check-stylish-haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Update CABAL_CACHE_VERSION to 2023-07-12
  .github/workflows/check-stylish-haskell.yml
  .github/workflows/github-page.yml
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Make stylish git hook ignore CPP
  scripts/githooks/haskell-style-lint
Owners: none

Fix Eq, Show for Proposal type
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Add setting of votes and proposals in TxBody
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Make it build with ghc-9.6
  cabal.project
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/IO/Compat/Posix.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Crypto.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Orphans.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/RawBytes.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
