Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New function shelleyToAllegraEraToByronToAllegraEra and alonzoEraOnwardsToMaryEraOnwards
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Export getTxBodyContent
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Export getTxBodyContent
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

cardano-api-internal: Change ProposeNewCommittee to use CommitteeColdKey instead of StakeKey
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
Owners: none

New version cardano-api-8.21.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Delete UpdateProposalSupportedInEra. Use ShelleyToBabbageEra instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename fromLedgerTxUpdateProposal to maybeFromLedgerTxUpdateProposal to more clearly indicate it may not return a value
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Replace WithdrawalsSupportedInEra with ShelleyBasedEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

input-output-hk/cardano-cli#299 Fix 'MissingRedeemers' error
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New ByronAndAllegraEraOnwards eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ByronAndAllegraEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyEraOnly eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ShelleyEraOnly.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Remove IsByronToAllegraEra, IsByronToAlonzoEra, IsByronToMaryEra and IsMaryEraOnwards
  cardano-api/internal/Cardano/Api/Eon/ByronToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ByronToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ByronToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eon/MaryEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New caseByronAndAllegraEraOnwardsOrShelleyEraOnly function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
Owners: none

Delete ValidityUpperBoundSupportedInEra and ValidityNoUpperBoundSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Fix nextEpochEligibleLeadershipSlots
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: none

WIP: Use typed-protocols-0.2.0.0
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/IPC.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/ChainSync/ClientPipelined.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Delete TxTotalAndReturnCollateralSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Release 8.22.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Explicit pattern match on all ledger certificates constructors. Remove redundant module
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Constraints.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete TxExtraKeyWitnessesSupportedInEra
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete ValidityLowerBoundSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New AllegraEraOnwards eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/AllegraEraOnwards.hs
Owners: none

New AnyEraInEon type
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Bump CHaP, allow newer Plutus/Ledger/Consensus
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

input-output-hk/cardano-cli#288 Add support for conway era protocol parameters
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Integrate Consensus changes
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Protocol.hs
Owners: none

Delete TxScriptValiditySupportedInEra. Use AlonzoEraOnwards instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ByronAndAllegraEraOnwards eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ByronAndAllegraEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyEraOnly eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ShelleyEraOnly.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Remove IsByronToAllegraEra, IsByronToAlonzoEra, IsByronToMaryEra and IsMaryEraOnwards
  cardano-api/internal/Cardano/Api/Eon/ByronToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ByronToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ByronToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eon/MaryEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New caseByronAndAllegraEraOnwardsOrShelleyEraOnly function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
Owners: none

Delete ValidityUpperBoundSupportedInEra and ValidityNoUpperBoundSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Undo vertical formatting
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: none

Replace CollateralSupportedInEra with AlonzoEraOnwards. Delete collateralSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Simplify implementation of evaluateTransactionExecutionUnitsShelley
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Fees.hs
Owners: none

Rename inEraEonMaybe to forEraInEonMaybe
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename maybeEonInShelleyBasedEra to forShelleyBasedEraMaybeEon
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename eonInShelleyBasedEra to inEonForShelleyBasedEra
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename maybeEonInEra to forEraMaybeEon
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename inShelleyBasedEraEon to forShelleyBasedEraInEon
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
