Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New era-based ProtocolParametersUpdate type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Domain/ProtocolParametersUpdate.hs
Owners: none

Add JSON instance for `Hash GenesisKey`
  .github/workflows/haskell.yml
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New version cardano-api-8.20.2.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Update the code to UTxO-HD
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.ci.Linux
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Query.hs
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

Fix typo
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

Rename Feature module to Eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename FeatureInEra to Eon
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename featureInEra to inEonForEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
Owners: none

Rename Feature to Eon in eon related functions
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Rename inEraFeature to forEraInEon
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Update cabal-cache version
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Rename FeatureInEra to Eon
  cardano-api/internal/Cardano/Api/Eon.hs
Owners: none

Rename featureInEra to forEon
  cardano-api/internal/Cardano/Api/Eon.hs
Owners: none

As ShelleyBasedEra is actually a feature, move it to the Feature parent module
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eon.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New ByronEraOnly feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ByronEraOnly.hs
Owners: none

Delete TxFeesExplicitInEra and TxFeesImplicitInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

pre-commit hook: fail on hlint errors
  scripts/githooks/haskell-style-lint
Owners: none

Export ByronEraOnly
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete unused eon constraints
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ByronEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToMaryEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ByronToAllegraEra eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ByronToAllegraEra.hs
Owners: none

Delete MultiAssetSupportedInEra. Use MaryEraOnwards instead
  cardano-api/internal/Cardano/Api/Eon/MaryEraOnwards.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete OnlyAdaSupportedInEra. Use ByronToAllegraEra instead
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/test/cardano-api-golden/Test/Golden/ErrorsSpec.hs
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.TxBody.TxBodyError/TxBodyOutputNegative.txt
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.TxBody.TxBodyError/TxBodyOutputOverflow.txt
Owners: none

New caseByronToAllegraOrMaryEraOnwards function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
Owners: none

Delete multiAssetSupportedInEra. Use caseByronToAllegraOrMaryEraOnwards instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Additional constraints for MaryEraOnwards and ShelleyToAllegraEra
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
Owners: none

New caseShelleyToAllegraOrMaryEraOnwards and shelleyToAllegraEraToByronToAllegraEra functions
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete ReferenceTxInsScriptsInlineDatumsInBabbageEra. Use BabbageEraOnwardsConway instead.
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

In implementation of fromShelleyTxOut, compute txOutValue and addressInEra once rather than in each era
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Delete ScriptDataInAlonzoEra. Use AlonzoEraOnwardsAlonzo instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete refInsScriptsAndInlineDatsSupportedInEra. Use caseShelleyToAlonzoOrBabbageEraOnwards instead.
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eon/ByronToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New ByronToMaryEra eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ByronToMaryEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Remove commented out code
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Delete UpdateProposalSupportedInEra. Use ShelleyToBabbageEra instead
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Replace CertificatesSupportedInEra with ShelleyBasedEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete commented out code
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Delete scriptDataSupportedInEra. Use caseByronToMaryOrAlonzoEraOnwards or forEraInEon instead.
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Replace TxMetadataSupportedInEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Organise eon re-exports
  cardano-api/src/Cardano/Api.hs
Owners: none

Export MaryEraOnwards eon
  cardano-api/src/Cardano/Api.hs
Owners: none

New function shelleyToAllegraEraToByronToAllegraEra and alonzoEraOnwardsToMaryEraOnwards
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
