Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Updated to use newer packages
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/IPC.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Modes.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api.hs
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

TEST
  cabal.project
  cardano-api/cardano-api.cabal
Owners: @Jimbo4350, @newhoggy, @carbolymer

Delete deprecated functions and types
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/ScriptData.hs
  cardano-api/internal/Cardano/Api/SerialiseRaw.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New caseShelleyToBabbageAndConwayEraOnwards function
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyToAlonzoEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAlonzoEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ToCardanoEra typeclass
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Feature.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New AlonzoEraOnwards feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnwards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyToMaryEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToMaryEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New BabbageEraOnwards feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToMaryEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New AlonzoEraOnly feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnly.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New ShelleyToAllegraEra feature
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAllegraEra.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

stuff
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Feature/MaryEraOnwards.hs
Owners: none

Fix and add more test constraints functions
  cardano-api/gen/Test/Gen/Cardano/Api/Era.hs
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
Owners: none

Updated to use newer packages
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/IPC.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Modes.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Script.hs
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Fix CI gating when required build steps fail
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Use the new QueryFootprint parameter on queries
  cabal.project
  cardano-api/internal/Cardano/Api/IPC.hs
  cardano-api/internal/Cardano/Api/Query.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Added DelegationsAndRewards, mergeDelegsAndRewards
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Rewards.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New era casing functions. Rename caseShelleyToBabbageAndConwayEraOnwards to caseShelleyToBabbageOrConwayEraOnwards
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Use era casing functions in some places
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Tx.hs
Owners: none

Expose constraints from casing functions
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToMaryEra.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Tx.hs
Owners: none

cardano-api 8.20.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Fix Query error in `QueryStakeDelegDeposits` when executing `transaction build` input-output-hk/cardano-cli#268
  cardano-api/internal/Cardano/Api/Query.hs
Owners: none

Fix querying for dreps in `transaction build` in eras before conway
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

Add info about cache collisions in GHA builds in RELEASING.md troubleshooting section
  RELEASING.md
Owners: none

poc
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras/Core2.hs
Owners: none

wip
  cardano-api/internal/Cardano/Api/Eras/Core2.hs
Owners: none

Fix typos in some deserialization error messages
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
  cardano-api/internal/Cardano/Api/Script.hs
Owners: none

New justFeatureInEra and justInEraFeature functions
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New in2ErasFeature function
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Fix typo
  cardano-api/internal/Cardano/Api/Eras/Core.hs
Owners: none

New era-based ProtocolParameters type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Domain/ProtocolParameters.hs
Owners: none

Remove value payload from EraCast error
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/EraCast.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Implement unsafeEraCastLedgerProtocolParameters
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New era-based ProtocolParametersUpdate type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Domain/ProtocolParametersUpdate.hs
Owners: none

Fix haddocks generation in GHA
  .github/bin/haddocks.sh
  .github/workflows/github-page.yml
  README.md
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @input-output-hk/docs-access

Fix DRep Stake and DRep Stake queries for empty lists
  cardano-api/internal/Cardano/Api/Query/Expr.hs
Owners: none

Release 8.20.1.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Support more ledger constraints
  .github/workflows/haskell.yml
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Feature/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Feature/ShelleyToMaryEra.hs
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New justFeatureInEra and justInEraFeature functions
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New era-based ProtocolParameters type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Domain/ProtocolParameters.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
