Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Tidy up Github template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Refresh hackage & chap, add missing extensions
  cabal.project
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Crypto.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Orphans.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Invalidate CI cache - update consensus for GHC 9.6
  .github/workflows/haskell.yml
  cabal.project
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

Sample implementation for Conway certificate translation
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Update flake.lock
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Add missing TypeOperators extension
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Parameterise Certificate type with phantom era type argument
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Add era phantom type parameter to Certificate
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New version cardano-api-8.2.1.0
  cardano-api/cardano-api.cabal
Owners: none

Update cabal-cache cache version
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New version cabal-api-8.2.0.0.1.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Parameterise Certificate type with phantom era type argument
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Add .cardano-dev.yaml file
  .cardano-dev.yaml
Owners: none

Remove aarch64-linux
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New version cardano-api-8.6.0.0
  .github/workflows/haskell.yml
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Run check-pr-changelog in merge_group but skip steps because the workflow must run if used as a required-check with merge queues
  .github/workflows/check-pr-changelog.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Revert "Parameterise Certificate type with phantom era type argument"
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Expose createProposalProcedure, GovernanceAction, Proposal Implement Proposal
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Update VotingCredential to be parameterize on cardano-api's era type
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
Owners: none

Implement To/FromCBOR instance for Vote and Proposal
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Release cardano-api 8.7
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Parameterise Certificate type with phantom era type argument
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Reenable fold blocks
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Expose more voting and proposal types and functions
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

bump ledger versions needed for devnet
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @Jimbo4350, @newhoggy, @carbolymer, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Upgrade to cardano-ledger-1.3
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Integrate ledger's TxCert type family
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/test/cardano-api-golden/Test/Golden/ErrorsSpec.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Some refactoring of the ledger's certificate type family propagation
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Utils.hs
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.Fees.ScriptExecutionError/ScriptErrorMissingScript.txt
Owners: none

Update flake.lock
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Ghc-9.6 fix
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/RawBytes.hs
Owners: none

Relax hedgehog lower bound
  cardano-api/cardano-api.cabal
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
Owners: none

Remove caret from hedgehog version bound
  cardano-api/cardano-api.cabal
Owners: none

Disable x86_64-darwin in nix due to crypto32 dependency issues blocking CI
  flake.nix
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Add CastVerificationKeyRole StakePoolKey StakeKey instance
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Update cddlTypeToEra with Conway txs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
Owners: none

New shelleyBasedEraConstraints fuction
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New version cardano-api-8.8.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Extras
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Install LMDB in CI, update s-r-p for ouroboros-consensus
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
  cardano-api/internal/Cardano/Api/LedgerState.hs
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

Remove unnecessary constraint
  cardano-api/internal/Cardano/Api/Certificate.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
