Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New MaryEraOnly eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/MaryEraOnly.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New caseMaryEraOnlyOrAlonzoEraOnwards function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
Owners: none

New functions disjointAlonzoEraOnlyAndBabbageEraOnwards and disjointByronEraOnlyAndShelleyBasedEra. Deprecate noByronEraInShelleyBasedEra
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Haddock document the case functions, so that their behavior is easier to understand when calling them
  cardano-api/internal/Cardano/Api/Eras/Case.hs
Owners: none

Expose ShelleyToBabbageEraConstraints
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

New Mandatory type
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras/HasComplement.hs
  cardano-api/internal/Cardano/Api/Eras/Mandatory.hs
Owners: none

Open union encoding of Eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: none

stuff
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: none

Comment out non-working code
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
  cardano-api/internal/Cardano/Api/Eon/Core3.hs
Owners: none

stuff
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: none

stuff
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: none

stuff
  cardano-api/internal/Cardano/Api/Eon/Core2.hs
Owners: none

Open union encoding of Eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: none

stuff
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: none

stuff
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: none

Support DRep extended keys
  cardano-api/internal/Cardano/Api/DeserialiseAnyOf.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

stuff
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: none

stuff
  cardano-api/internal/Cardano/Api/Eon/Core.hs
Owners: none

Bump cabal cache
  .github/workflows/haskell.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Parameterize GovernanceAction on era and use Ledger.PParamsUpdate type in UpdatePParams constructor
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
Owners: none

Bump cabal cache
  .github/workflows/haskell.yml
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/ReexposeLedger.hs
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Move ShelleyBasedEraConstraints and shelleyBasedEraConstraints to ShelleyBasedEra module
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Move CardanoEraConstraints and cardanoraConstraints to Core module
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Constraints.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New functions anyShelleyBasedEra, inAnyCardanoEra and inAnyShelleyBasedEra
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Use ShelleyBasedEra instead of IsShelleyBasedEra. Use CardanoEra instead of IsCardanoEra.
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/test/cardano-api-golden/Test/Golden/ErrorsSpec.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Eras.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/CBOR.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Ord.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/TxBody.hs
Owners: none

New version cardano-api-8.26.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Add missing clause to support Plutus V1 in Conway
  cardano-api/internal/Cardano/Api/Script.hs
Owners: none

Reorder some lines to fit the general scheme
  cardano-api/internal/Cardano/Api/Script.hs
Owners: none

New version cardadno-api-8.27.0.0
  cardano-api/CHANGELOG.md
Owners: none

Delete unnecessary calls to shelleyBasedEraConstraints
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

New version cardadno-api-8.27.0.0
  cardano-api/cardano-api.cabal
Owners: none

Shorten PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

New shelleyToAlonzoEraToShelleyToBabbageEra function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete AlonzoEraOnly
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnly.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Export caseMaryEraOnlyOrAlonzoEraOnwards.
  cardano-api/src/Cardano/Api.hs
Owners: none

New version cardano-api-8.28.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Update the code to UTxO-HD
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.ci.Linux
  .github/workflows/cabal.project.local.ci.MINGW64_NT-10.0-20348
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/Query.hs
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

DRep extended key: add CastVerificationKeyRole
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
Owners: none

Upgrade typed-protocols to 1.1.1
  .github/workflows/haskell.yml
  cabal.project
  cardano-api/cardano-api.cabal
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

New allegraEraOnwardsToByronAndAllegraOnwardsEra function
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
