Repository IntersectMBO/cardano-api, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @carbolymer, @olgahryniuk, @input-output-hk/docs-access, @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Simplify TxOut construction
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Rename binding names to be more accurate
  cardano-api/internal/Cardano/Api/Fees.hs
Owners: none

New version cardano-api-8.31.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Merge ShelleyLedgerEra and CardanoLedgerEra to a single type family LedgerEra
  cardano-api/gen/Test/Gen/Cardano/Api/Era.hs
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eon/AllegraEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/MaryEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Remove need for ByronToAllegraEra eon
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.TxBody.TxBodyError/TxBodyOutputNegative.txt
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.TxBody.TxBodyError/TxBodyOutputOverflow.txt
Owners: none

Eon lenses
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
Owners: none

Ledger Value type instance for ByronEra
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eon/ByronEraOnly.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/test/cardano-api-golden/Test/Golden/ErrorsSpec.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/Value.hs
Owners: none

New ByronToAllegraEra eon
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Eon/ByronToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api.hs
Owners: none

Delete ShelleyToAllegraEra eon
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Case.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.TxBody.TxBodyError/TxBodyOutputNegative.txt
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.TxBody.TxBodyError/TxBodyOutputOverflow.txt
Owners: none

Fix round trip for empty Value. Add tests.
  cardano-api/cardano-api.cabal
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/test/cardano-api-golden/Test/Golden/Cardano/Api/Value.hs
  cardano-api/test/cardano-api-golden/files/golden/Cardano/Api/Value/value-ada-1.json
  cardano-api/test/cardano-api-golden/files/golden/Cardano/Api/Value/value-asset1-1.json
Owners: none

Leftover from #352: forgot to expose new module
  cardano-api-gen/cardano-api-gen.cabal
  cardano-api/cardano-api.cabal
Owners: none

Adapt generators to changed types
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/ProtocolParameters.hs
Owners: none

Modify makeByronTransactionBody to take only inputs and outputs
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Remove ByronEraOnly era from TxInByronSpecial constructor
  cardano-api/internal/Cardano/Api/InMode.hs
Owners: none

Propagate updated lovelaceToTxOutValue to Cardano.Api.Fees, specifically makeTransactionBodyAutoBalance Note makeTransactionBodyAutoBalance accepts ShelleyBasedEra era and not CardanoEra era
  cardano-api/internal/Cardano/Api/Fees.hs
Owners: none

Re-export AllegraEraOnwards
  cardano-api/src/Cardano/Api.hs
Owners: none

Update generators to be parameterized on ShelleyBasedEra era
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
Owners: none

Re-add Byron related roundtrip tests and generators
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Byron.hs
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/test/cardano-api-test/cardano-api-test.hs
Owners: none

Update cardano-api tests to reflect changes in generators Notice the tests were only calling the Babbage era
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Json.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/CBOR.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/TxBody.hs
Owners: none

Necessary to allow creation of byron outputs in the cli. This will be removed once we have specific functionality to create "basic" transactions in any era.
  cardano-api/internal/Cardano/Api/TxBody.hs
Owners: none

Orphaned instances for L.Coin
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
Owners: none

Import Cardano.Ledger.Coin qualified as L instead of Shelley
  cardano-api/internal/Cardano/Api/Value.hs
Owners: none

Use L.Coin instead of Lovelace
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Construction.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Rewards.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Byron.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

Delete toShelleyLovelace, fromShelleyLovelace, lovelaceToCoin and coinToLovelace
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Convenience/Query.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.Fees.TxBodyErrorAutoBalance/TxBodyErrorAdaBalanceNegative.txt
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.Fees.TxBodyErrorAutoBalance/TxBodyErrorAdaBalanceTooSmall.txt
  cardano-api/test/cardano-api-golden/files/golden/errors/Cardano.Api.Fees.TxBodyErrorAutoBalance/TxBodyErrorMinUTxONotMet.txt
Owners: none

Add a query for vote delegatees
  cabal.project
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/src/Cardano/Api.hs
Owners: @Jimbo4350, @newhoggy, @carbolymer

Parameterize the following functions on `ShelleyBasedEra era`: - scriptLanguageSupportedInEra - toScriptInEra - refScriptToShelleyScript
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/TxBody.hs
Owners: none

Export AllegraEraOnwards
  cardano-api/src/Cardano/Api.hs
Owners: none

Fix haddocks references to libraries. Use nix for building it.
  .github/bin/haddocks.sh
  .github/workflows/cabal.project.local.github-pages
  .github/workflows/github-page.yml
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release

Use prettyprinter
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/gen/Test/Hedgehog/Golden/ErrorMessage.hs
  cardano-api/internal/Cardano/Api/DRepMetadata.hs
  cardano-api/internal/Cardano/Api/DeserialiseAnyOf.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/OperationalCertificate.hs
  cardano-api/internal/Cardano/Api/Pretty.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/ScriptData.hs
  cardano-api/internal/Cardano/Api/SerialiseBech32.hs
  cardano-api/internal/Cardano/Api/SerialiseJSON.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/SerialiseRaw.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/SerialiseUsing.hs
  cardano-api/internal/Cardano/Api/StakePoolMetadata.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/TxIn.hs
  cardano-api/internal/Cardano/Api/TxMetadata.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/IO.hs
Owners: none

Merge ShelleyLedgerEra and CardanoLedgerEra to a single type family LedgerEra
  cardano-api/gen/Test/Gen/Cardano/Api/Era.hs
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Block.hs
  cardano-api/internal/Cardano/Api/Certificate.hs
  cardano-api/internal/Cardano/Api/Eon/AllegraEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/MaryEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyBasedEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyEraOnly.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAllegraEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToAlonzoEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToBabbageEra.hs
  cardano-api/internal/Cardano/Api/Eon/ShelleyToMaryEra.hs
  cardano-api/internal/Cardano/Api/Eras.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/GenesisParameters.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/ProposalProcedure.hs
  cardano-api/internal/Cardano/Api/Governance/Actions/VotingProcedure.hs
  cardano-api/internal/Cardano/Api/InMode.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query.hs
  cardano-api/internal/Cardano/Api/Query/Expr.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/Tx.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: none

New version cardano-api-8.32.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Use prettyprinter
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/gen/Test/Hedgehog/Golden/ErrorMessage.hs
  cardano-api/internal/Cardano/Api/DRepMetadata.hs
  cardano-api/internal/Cardano/Api/DeserialiseAnyOf.hs
  cardano-api/internal/Cardano/Api/Eras/Core.hs
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Keys/Shelley.hs
  cardano-api/internal/Cardano/Api/LedgerState.hs
  cardano-api/internal/Cardano/Api/OperationalCertificate.hs
  cardano-api/internal/Cardano/Api/Pretty.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/ScriptData.hs
  cardano-api/internal/Cardano/Api/SerialiseBech32.hs
  cardano-api/internal/Cardano/Api/SerialiseJSON.hs
  cardano-api/internal/Cardano/Api/SerialiseLedgerCddl.hs
  cardano-api/internal/Cardano/Api/SerialiseRaw.hs
  cardano-api/internal/Cardano/Api/SerialiseTextEnvelope.hs
  cardano-api/internal/Cardano/Api/SerialiseUsing.hs
  cardano-api/internal/Cardano/Api/StakePoolMetadata.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/TxIn.hs
  cardano-api/internal/Cardano/Api/TxMetadata.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/IO.hs
Owners: none

Make prettyToText return strict Text and add prettyToLazyText. Export Doc
  cardano-api/internal/Cardano/Api/Pretty.hs
Owners: none

Error instance for FileError instead of Pretty
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/IO.hs
Owners: none

Make prettyToText return strict Text and add prettyToLazyText. Export Doc
  cardano-api/internal/Cardano/Api/Pretty.hs
Owners: none

Error instance for FileError instead of Pretty
  cardano-api/internal/Cardano/Api/Error.hs
  cardano-api/internal/Cardano/Api/Pretty.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/IO.hs
Owners: none

Integration work for node 8.7.0
  .github/workflows/haskell.yml
  CONTRIBUTING.md
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/gen/Test/Gen/Cardano/Api.hs
  cardano-api/internal/Cardano/Api/Address.hs
  cardano-api/internal/Cardano/Api/Eon/AlonzoEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/BabbageEraOnwards.hs
  cardano-api/internal/Cardano/Api/Eon/ConwayEraOnwards.hs
  cardano-api/internal/Cardano/Api/Fees.hs
  cardano-api/internal/Cardano/Api/Ledger/Lens.hs
  cardano-api/internal/Cardano/Api/LedgerEvent.hs
  cardano-api/internal/Cardano/Api/Orphans.hs
  cardano-api/internal/Cardano/Api/ProtocolParameters.hs
  cardano-api/internal/Cardano/Api/Query/Types.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/ScriptData.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/internal/Cardano/Api/Value.hs
  cardano-api/test/cardano-api-golden/Test/Golden/ErrorsSpec.hs
  flake.lock
Owners: @input-output-hk/devx-core-tech, @input-output-hk/core-tech-release, @Jimbo4350, @newhoggy, @carbolymer

New version cardano-api-8.33.0.0
  cardano-api/CHANGELOG.md
  cardano-api/cardano-api.cabal
Owners: none

Export AllegraEraOnwards
  cardano-api/src/Cardano/Api.hs
Owners: none

Parameterize the following functions on `ShelleyBasedEra era`: - scriptLanguageSupportedInEra - toScriptInEra - refScriptToShelleyScript
  cardano-api/gen/Test/Gen/Cardano/Api/Typed.hs
  cardano-api/internal/Cardano/Api/Script.hs
  cardano-api/internal/Cardano/Api/TxBody.hs
  cardano-api/test/cardano-api-test/Test/Cardano/Api/Typed/TxBody.hs
Owners: none

CODEOWNERS:

# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer


# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
.github                                                       @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
configuration/                                                @input-output-hk/devx-core-tech @input-output-hk/core-tech-release
